.credencial-salto-pagina {
    height: 10px;
}

.container,
.container * {
  box-sizing: border-box;
}


.container {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    margin: 5px 10px 12px 28px;
    background-color: white;
    height: 241px;
    width: 156px;
    color: #17428c;
    border: 1px solid gray;
    border-radius: 15px;
    overflow: hidden;

    .credencial {
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    /* ---------- HEADER ---------- */

    .header {
        height: 50px;
        padding: 10px;
        background-color: white;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .colgante {
        height: 10px;
    }

    .contServicio {
        height: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .servicio {
        max-width: 130px;
    }

    h5 {
        font-size: 7px;
        max-height:20px; /*24px;*/
        overflow: hidden;
        text-transform: uppercase;
        word-break: break-word;
        overflow-wrap: break-word;

        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 3;

     
    }

    /* ---------- BODY ---------- */

    .body {
        flex-grow: 1;
        background-color: #c9e1f6;
        padding: 10px;
        overflow: hidden;
        height: 151px;

        display: flex;
        flex-direction: column;
        justify-content: center; /* centrado vertical*/
        align-items: center;     /* centrado horizontal*/
        /*gap: 10px;*/
    
    }

    .contNombre,
    .contFuncion {
        width: 100%;
        display: flex;
        justify-content: center;
       
    }

    .nombre {
        max-width: 134px;
        max-height: 69px;
        overflow: hidden;
        text-align: center;
    }
    h2, h3, h5 {
        line-height: 1;
        text-align: center;
    }


    h2 {
        font-size: 17px;
        text-transform: capitalize;
        word-break: break-word;
        overflow-wrap: break-word;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 4;

        overflow: hidden;


    }

    .funcion {
        background-color: white;
        border-radius: 20px;
        padding: 10px 10px;
        max-width: 134px;
        max-height: 45px;
        text-align: center;
        overflow: hidden;
        margin-top: 10px;
    }

    h3 {
        font-size: 9px;
        text-transform: uppercase;
        align-content: center; 
        word-break: break-word;
        overflow-wrap: break-word;

        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 3;

        overflow: hidden;

    }

    /* ---------- FOOTER ---------- */

    .footer {
        height: 40px;
        background-color: #17428c;
        display: flex;
        justify-content: center;
        align-items: center;

        img {
            height: 18.5px;
            width: 120px;
        }
    }
}
