.credencial-salto-pagina {
    height: 10px;
}

.container {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    margin: 5px 10px 12px 28px;
    background-color: white;
    height: 241px;
    width: 156px; 
    color: #17428c; 
    border: 1px solid gray;
    border-radius: 15px;;
    overflow: hidden;
    display: flex;
    justify-content: center; 
    align-items: center;
     
    .credencial {
        height: 241px;
        width: 156px;
    }
  
    .header {
        height: 40px;  
        background-color: white;
        padding: 10px;      
    }

    .colgante{
        height: 18px;
    }

    .contServicio{ 
        height: 35px; 
        align-content: center;
        text-align: center;    
    }

    .servicio{
        display: inline-block;
        max-width: 130px;
        max-height: 31px;    
    }

    h5 {
        margin-top: 5px ;
        margin-bottom: 2px;
        font-size: 7px;        
        max-height: 24px;
        overflow: hidden; 
        text-transform: uppercase;   
    }

    .body {        
        text-align: center;
        background-color: #c9e1f6;
        height: 117px;
        padding: 10px;
        align-content: center;     
        overflow: hidden;
    }

    .contNombre{
        align-content: center;
    }

    .nombre{
        overflow: hidden;
        max-height: 69px;
        max-width: 134px;
        display: inline-block;
    }

    h2 {
        margin: 0px;
        overflow: hidden;
        font-size: 15px;   
        max-height: 69px;
        align-content: center;
        text-transform: capitalize;
    }
    
    .break {
        height: 5px;
        
    }

    .contFuncion{
        align-content: center;
    }

    .funcion{
        border-radius: 20px;
        background-color: white;
        padding: 5px 10px;
        display: inline-block;
        max-height: 28px;
        max-width: 114px;
    }

    h3 {
        margin:0px;
        align-content: center;     
        font-size: 9px; 
        overflow: hidden;
        max-height: 28px;
        text-transform: uppercase;
    }

    .footer {                 
    height: 40px;
    background-color: #17428c;
    text-align: center;                 
        img {
            margin: 10px 17px;
            height: 18.5px;
            width: 120px;    
        }   
    }     

}
